<div class="author">
    <h1 class="author__heading">Hi, I'm Michael Superlama. </h1>
    <p class="author__body">Welcome in my space. Do you want your own?</p>
    <img src="/img/me.jpg" alt="" class="hero-image" alt="person in glasses Superlama" width="500">
</div>

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articles__ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="articles-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
</section>

<section class="users">
    <h2 class="users__heading">Users</h2>
    <ul class="users__ul">
        <% users.forEach(user => { %>
        <li>
            <a href="/<%= user.username %>">
                <%= user.username %>
            </a>
        </li>
        <% }) %>
    </ul>
</section>